<%@ page language="java" contentType="text/html; charset=ISO-8859-1"
    pageEncoding="ISO-8859-1"%>
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>edit foodbank</title>

    <link href="../CSS/FoodBank.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container">
<h1> FoodBank</h1>
<hr/>
<div class="row">


<div class="col-md-4">
<form action="${pageContext.request.contextPath}/Controller" method="POST">

  <div class="form-group">
 <input type = "text" name="id" value="${food.id}" placeholder="Enter id" class="form-control" /><br/>
</div>
 <div class="form-group">
 <input type = "text" name="name" value="${food.name}" placeholder="Enter name" class="form-control" /><br/>
</div>
 <div class="form-group">
 <input type = "text" name="price" value="${food.price}"placeholder="Enter price"class="form-control" /><br/>
</div>
 <div class="form-group">
 <input type = "text" name="kcal" value="${food.kcal}"placeholder="Enter kcal"class="form-control" /><br/>
 </div>
  <div class="form-group">
 <input type = "text" name="duration" value="${food.duration}"placeholder="Enter duration"class="form-control" /><br/>
 </div>
  <div class="form-group">
 <input type = "text" name="popularity" value="${food.popularity}" placeholder="Enter popularity"class="form-control" /><br/>
</div>
 <div class="form-group">
<input type="hidden" value= "${food.id}" name="id">
</div>
<button class ="btn btn-primary" type="submit">Save food </button>
</form>



</div>

</div>

</div>
</body>
</html>