@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: lightgray;
}
.container{
 width: 80%;
margin: auto;
overflow: hidden;

}
ul {
    margin: 0;
    padding: 0;
}


/*header*/

header {
 background: black;
    color: brown;
    min-height: 100px;
 max-height: 100px;
    width: 100%;
    border-bottom: orangered 3px solid;
    position: sticky;
    
    
}

header:hover {
    border-bottom: gold 3px solid;
}

header a {
    color: white;
    font-size: 15px;
}

header li {
    display: inline-block;
    padding: 0 20px 0 20px;
  

}
header #title {
    float: left;
    margin-top: 20px;
   
}



header .highlight  {
    color:#e8491d;
    font-weight: bold;
    font-family: fantasy;
    font-size: 45px;
    
}
header .highlightmain{
	color: darkgrey;
  
}
header .highlightmain:hover{
	color: #e8491d;
  
}
body .highlight{
    color: #e8491d;
    font-weight: bold;
  
  
}
body .highlight2 {
	color: #353535;
}
header a:hover {
    color: #e8491d;
    font-weight:bold ; 
         text-decoration: none; 
}
.menunav {
	text-align: center;
	margin-right: 150px;
	padding-top: 50px;
	
	
}
@media screen and (max-width: 500px) {
  .menunav {
   display: inline-block;
   margin-top: -150px;
   margin-left: 250px;
      padding-top: 50px;
  }
}

/*end header */

/*searchtool*/

.search input[type=text] {
position: center;
   border-radius: 1.5rem;
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
     border: none;
    border-bottom: 2px solid black;
    margin-left: 130px; 
        
}

.search input[type=text]:hover {
   border: 2px solid green;
    transition: all 0.2s ease;
}
.search .fa-search{
	margin-left: 135px;
	position: absolute;
	margin-top: 25px;
}


	
/* end searchtool */

/*carousel*/
.carousel-inner{
	position: relative;
	width: 100%;
	height: 70vh;
}
.item {
	background-position: center;
	background-size: amount;
	height: 100%;

	
}
/*end carousel*/
    
      

/*main-column */
#main-column article {
float: left;
 width: 65%;

}
#main-column {
 text-align: center;
float: inline-end;
    top: 30%;
    left: 50%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      
}


#text {
    background-color: rgb(126, 9, 9);
}
/* stappenplan bestellen */
.rowroadmap{
	display: flex;
	flex-direction: row ;
	text-align: center;
	margin-top: 20px;
	background-color: #aa5500;
	
}
.rowroadmap div img ,p.de {
		opacity: 0.4;
		transition: opacity .3s ease-in-out;
		padding-right: 50px;
}
.rowroadmap div img:hover, .rowroadmap div img:hover + p{
	opacity: 1;
}
.rowroadmap img{
	height: 140px;
	width: 140px;
	padding-top: 10px;
}
.rowroadmap p {
	color: white;
	width: 50%;
	margin-left: 114px;
	
}
@media screen and (max-width: 800px) {
  .rowroadmap  {
display: block;
margin-bottom: -10px;
  }
}
@media screen and (max-width: 800px) {
  .rowroadmap p  {
margin-left: 170px;
  }
}


/*  end stappenplan bestellen */


/* registration and login*/
.login {
	margin-top: 50px;
    text-align: center;
    color:#fff;
    padding: 30px;
    float: right;
    margin-bottom: 20px;

}

.login .btn{
  border-radius: 1.5rem;
    border: none;
    width: 120px;
    background: rgb(59, 58, 58);
    font-weight: 600;
    color: white;
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: -80px;
}

.login .btn:hover {
background: black;
}
.login h3 {
    font-size: 36px;
    text-align: center;
}

.register{

    border: hidden;
    background: burlywood;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
    padding: 70px;
    width: 400px;
    float: left;
      box-shadow: 20px 20px 10px  grey;

}
.register .btn {
    border-radius: 1.5rem;
    border: none;
    width: 120px;
    background: rgb(59, 58, 58);
    font-weight: 600;
    color: white;
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
}
.register .btn:hover{
    background: black;
}
.register h2{
    text-align: center;
    color: black;
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 10px;
}
.form-button input[type=text] {
    border-radius: 1.5rem;
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
     border: none;
    border-bottom: 2px solid black;
    
}
.form-button input[type=password] {
    border-radius: 1.5rem;
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
}
.form-button input[type=number] {
    border-radius: 1.5rem;
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
}
.form-button input[type=email] {
    border-radius: 1.5rem;
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
}
.form-button input[type=text]:hover {
    border: 2px solid green;
    transition: all 0.2s ease;
}
.form-button input[type=password]:hover {
    border: 2px solid green;
    transition: all 0.2s ease;
}

.form-button input[type=number]:hover {
    border: 2px solid green;
    transition: all 0.2s ease;
}
.form-button input[type=email]:hover {
    border: 2px solid green ;
    transition: all 0.2s ease;
}

.login input[type=email] {
    border-radius: 1.5rem;
    width: 75%;
    padding: 12px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
}
.login input[type=password] {
    border-radius: 1.5rem;
    width: 75%;
    padding: 12px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
}
.login input[type=email]:hover {
    border: 2px solid green;
    transition: all 0.2s ease;
}
.login input[type=password]:hover {
    border: 2px solid green ;
    transition: all 0.2s ease;
}
/* end login */



/* menu */
.gallery {
    margin: 10px;
    border: 1px solid #ccc;
display: inline-block;
    width: 350px;
 margin-left: 70px;
      background-color: white;
           box-shadow: 20px 25px 10px grey;
    
  }  
  .gallery:hover {
    border: 1px solid #777;
  }
  
  .gallery img {
    width: 100%;
    height: 200px;


  }
  
  .desc {
    padding: 15px;
    text-align: center;
  } 
  

.menutitle {
 text-align: center;
}
.menutitle:hover {
	  box-shadow: 5px 5px 5px 5px;
	       transition: all 1s ease-out;	      
}
.btn-primary  {
	float: left;

}
.btn-danger {
	float: right;


}
.fa-cart-plus {
	float: left;
	margin-top: 10px;
		margin-right: 5px;
	
}
.fa-trash-alt {
	float: right;
	margin-top: 10px;
	margin-right: 5px;
}




.star-rating {
  line-height:32px;
  font-size:1.25em;
  margin-left: 50px;

 
}

.star-rating .fa-star{color: gold;}


/* end menu*/

/*add food*/
#addbutton {
	margin-top: 30px !important;
	
}
.table-content th{
	color: rgb(148, 124, 94);
	 background-color: rgb(45, 45, 45);;
	
}
/* end add food*/
/*about us */





.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
 
  
}
.row {
	background-color: #c9c9c9;
}

.card {

  margin: 8px;
  margin-left: 250px;
      box-shadow: 0px 3px 0px #b2a98f,
                 0px 24px 20px rgba(0,0,0,0.15),
                 0px 34px 12px rgba(0,0,0,0.1),
                 0px 44px 40px rgba(0,0,0,0.1);

}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
  
}

.containerabout {
  padding: 0 16px;
   width: 100%;

  
}

.containerabout::after, .row::after {
  content: "";
  clear: both;
  display: table;
  
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 500px) {
  .column {
    width: 100%;
    display: block;
  }
}


/*end about us*/



/* contact us */
.contactcontainer input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.contactcontainer input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;

 
}

.contactcontainer input[type=submit]:hover {
  background-color: #45a049;
}


.contactcontainer {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  margin-top: -10px;
   
}
.contactcontainer h2 {
text-align: center;	
}


.contactcolumn {
  margin-top: 6px;
  padding: 20px;
    width: 100%;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.accordion {
	
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;

  outline: none;
  font-size: 15px;
  transition: 0.4s;
}



.active, .accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden; 

}



/*end contact us*/


   /*footer*/ 
 .footer {
color: #d3d3d3;
background-color: #303036;
height: 370px;
position: relative;

   }
 .footer-bottom{
 background: #343a40;
 color:#686686;
 height: 53px;
 width: 100%;
 text-align: center;
 position: absolute;
 left: 0px;
 padding-top: 10px;
   }
  .footer-content {
   border: 1px solid red;
   height: 315px;
   display: flex;

   }
    .footer .footer-content h1,  .footer .footer-content h2{
    color: white;
    }
.about h1 span {
      color: orange;
      }
     .footer .footer-content .about .contact span{
     display: block;
     font-size: 1.1em;
     margin-bottom: 8px;
     }
   .footer-section {
    flex: 1;
     padding: 25px;
    margin-top: -33px;
   
    }
    .footer-section  a {
    text-align: center;
    text-decoration: none;
    margin-left: 5px;
  
    }
 
  /* end footer*/
 
