<footer>
    <div class="footer">
    <div class="footer-content"> 
          
    <div class="footer-section about">
    <h1 class="logo-text"><span>Special</span>Eats</h1>
    <p>
    specialEats was created by a young college-5 student who was eager
    for a challenge
    |<br>
    specialEats is a platform where you can order<br> special dishes
     for spacious thinking people at<br> your home, it is also possible 
     to pick up <br>the delicious
     dishes from us or if you feel <br>like staying a while! 
     </p>
    <div class="contact">
    <span><i class="fas fa-phone"></i>&nbsp; 0470565378</span>
    <span><i class="fas fa-envelope"></i>&nbsp; yoni.vindelinckx@hotmail.com</span>
    </div>
    
    <div class="socials">
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-youtube"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    
    </div>
    
    </div>
    </div>
    
    
    <div class="footer-bottom">
    
     <p> &copy;SpecialEats 2020 |Designed and created by Yoni Vindelinckx</p>
    </div>
    </div>
    
    
    
    
    
    
    
    
    </footer>